$Primary: #4e73df;
$Success: #1cc88a;
$Info: #36b9cc;
$Warning: #f6c23e;
$Danger: #e74a3b;
$Secondary: #858796;
$BorderColor: #e3e6f0;
$MainTextColor: #5a5c69;
<<<<<<< HEAD
$FontAwesomeCards: #dddfeb;
=======
$FontAwesomeCards: #dddfeb;
>>>>>>> 7aed9668f29ab0fbf26af552a424c9b2c46e8a7f
