@import 'reset';
@import 'variables';
@import 'components';
@import 'mixins-wvc';

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 14rem auto;
    grid-template-areas:
        "side head"
        "side main";

    .searchbar {
        grid-area: head;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;

        .searchButton {
            background-color: $Primary;
            color: #fff;
        }
    }

    nav {
        grid-area: side;
        background-color: $Primary;
        color: #fff;
        min-height: 100vh;
        width: 14rem;

    }

    .main {
        grid-area: main;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

//drop_downs
li .dropdown-content {
  display: none;
}

li.active .dropdown-content {
  display: block;
}

//WVC: opmaak h6
h6 {
  font-weight: 700;
  font-size: 80%;
  margin-bottom: 8px;
  line-height: 1.2;
  color: $Secondary;
}

//WVC: opmaak h6 flex in section chart
.chart h6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//WVC: Progress-bars main bar layout (container)
.progress {
  height: 0.5rem;
  background-color: #eaecf4;
  border-radius: 0.35rem;
  max-width: 100%;
  width: 100%;
  margin-right: 0.5rem;
  overflow: hidden;
  align-self: flex-end;
  margin-bottom: 0.3rem;
}


//WVC: Cards on top of HTML
.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .info-card-small {
      width: 25%;
      max-width: 25%;
      @include basic-card;
    }

    .info-card-monthly {
      @include info-card-small($Primary);
    }

    .info-card-annual {
      @include info-card-small($Success);
    }

    .info-card-tasks {
      @include info-card-small($Info);
      .progress-bar {
        @include progress-bar($Info);
      }
    }

    .info-card-pending-requests {
      @include info-card-small($Warning);
    }
  }

//KREMENA: Basic cards header en area
.basic-card-box {
  @include basic-card;
  @include basic-card-box;
  max-width: 50%;
  .basic-card-header {
    background-color: $lightblue;
    border-bottom: 1px solid $BorderColor;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 16px;
    margin:0;
    h5 {
      color:$Primary;
      font-weight: bold;
    }
  }
  .basic-card-area {
    padding: 1.25rem;
    color: $Secondary;

    p {
      margin-bottom: 16px;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

//WVC: Charts
.chart {
  .server-migration .progress-bar {
    @include progress-bar($Danger);
  }

  .sales-tracking .progress-bar {
    @include progress-bar($Warning);
  }

  .customer-database .progress-bar {
    @include progress-bar($Primary);
  }

  .payout-details .progress-bar {
    @include progress-bar($Info);
  }

  .account-setup .progress-bar {
    @include progress-bar($Success);
  }

  .progress {
    height: 1rem;
    margin-bottom: 1.5rem;
  }

  .chart-area div:last-child .progress {
    margin-bottom: 0;
  }
}

// wvc: image center
.image-center {
  width: 100%;
  text-align: center;

  img {
    width: 25rem;
  }
}


//legenda
.legend ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-size: 14px;
  li i {
    margin-right: 5px;
  }
  li {
    margin-right: .5rem;
    &:nth-child(1) .fas {
      color: $Primary;
    }
    &:nth-child(2) .fas {
      color: $Success;
    }
    &:nth-child(3) .fas {
      color: $Info;
    }
  }
}

// CS: add bg-color to colorCard
.colorCards {
    @include flex-row-wrap;
    /* display: grid;
    grid-template-areas:
        "c1 c2"
        "c3 c4"
        "c5 c6"; */

    .colorCard.Primary {
        @include basic-card;
        @include colorCard($Primary);
        //grid-area: c1;
    }
    .colorCard.Success {
        @include basic-card;
        @include colorCard($Success);
        //grid-area: c2;
    }
    .colorCard.Info {
        @include basic-card;
        @include colorCard($Info);
        //grid-area: c3;
    }
    .colorCard.Warning {
        @include basic-card;
        @include colorCard($Warning);
        //grid-area: c4;
    }
    .colorCard.Danger {
        @include basic-card;
        @include colorCard($Danger);
        //grid-area: c5;
    }
    .colorCard.Secondary {
        @include basic-card;
        @include colorCard($Secondary);
        //grid-area: c6;
    }
}



// css searchbalk
.search {
    display: flex;
    max-width: 45%;
    height: 30px;

    .form-control:focus {
        border-color: #4e73df;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(39, 54, 70, 0.6);
    }
}
